img{
    width: 30;height: 30rem;
    margin-top: 2rem;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.coppy-quadro{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #dddddd;
    padding-right: 1rem;
    border: solid 1px black;
}
h3{
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
label{
    margin-left: 2rem;
    margin-right: 2rem;
}
button{
    width: 10rem; height: 5rem;
    color: black;
    background-color: #e6673a;
    text-transform: uppercase;
    border: none;
    border-right: solid 1px black;
}